* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-bg: #3f704d;
  --font-fam: "Poppins", sans-serif;
  --mt: 1.5rem;

  --main-bg: #014421;
  --main-br: 0.4rem;
  --main-pd: 2rem;

  --input-pd: 0.8rem;
  --input-mt: 0.5rem;

  --link-font-size: 0.7rem;
  --link-color: #ffffffbe;
  --link-hover-color: deeppink;
  --link-margin: 0.2rem;

  --btn-padding: 1rem;
  --btn-bg: #3f704d;
  --btn-border-radius: 0.4rem;
  --btn-font-size: 1.5rem;
  --btn-hover-color: #008000bb;

  --table-border-top-color: greenyellow;
  --table-td: 1px solid #ffffff83;
  --table-bg: #3f704d;
  --table-pd: 0.8rem;
  --table-font: 0.8rem;
}


body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f704d;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #014421;
  color: white;
  padding: 2rem;
  border-radius: 0.4rem;
  max-width:455px;
}

:is(.region_container, .api_container) > input[type="text"] {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.5rem;
  outline: none;
}

.api_container {
  margin-top: 1.5rem;
}

.region_link > a,
.api_link > a {
  color: #ffffffbe;
  font-size: 0.7rem;
  float: right;
  margin: 0.2rem;
}

.region_link > a:hover,
.api_link > a:hover {
  color: deeppink;
}

.submit {
  width: 100%;
  margin-top: 1.5rem;
}

.btn {
  width: 100%;
  background-color: #3f704d;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: #008000bb;
}

.results {
  width: 100%;
  margin-top: var(--mt);
}

table {
  border-collapse: collapse;
  width: 100%;
  word-break: break-all;
  border-top: 7px solid greenyellow;
}

td {
  border: 1px solid #ffffff83;
  background-color: #3f704d;
  padding: 0.8em;
}

.left {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: capitalize;
  width: 35%;
}

.content {
  font-size: 0.8rem;
}

.reset_container {
  width: 100%;
  margin-top: var(--mt);
}

.reset_btn {
  border: none;
  border-radius: var(--btn-border-radius);
  color: white;
  font-size: var(--btn-font-size);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  padding: var(--btn-padding);
  background-color: var(--btn-bg);
  cursor: pointer;
}

.reset_btn:hover {
  background-color: var(--btn-hover-color);
}


@media screen and (max-width: 768px) {
  main{
    width: 93%;
  }
}